{% extends 'base.html' %}

{% block title %}
  <title>Courses</title>
{% endblock %}

{% block content %}

  <div class="row">
    <div class="col-sm-4"></div>

    <div class="col-sm-4">
      <div class="text-center"><h1>COURSES</h1></div>
    </div>

    <div class="col-sm-4"></div>
  </div>

  <table class="table">
    <thead>
    <tr>
      <th>NAME</th>
      <th>CODE</th>
    </tr>
    </thead>
    <tbody>
    {% for course in course_list %}
      <tr>
        <td>{{ course.1 }}</td>
        <td>{{ course.2 }}</td>
      </tr>
    {% endfor %}

    </tbody>
  </table>
{% endblock %}