{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load user_extras %}


{% block title %}
  <title>Create</title>
{% endblock %}

{% block content %}
  <div class="row">
    <div class="col-sm-4">
      <a href="{% url 'users' %}" class="btn btn-default" role="button"><i
          class="glyphicon glyphicon-menu-left"></i></a>
    </div>
    <div class="col-sm-4">
      <div class="text-center"><h1>CREATE USER</h1></div>
    </div>

    <div class="col-sm-4">
      {% if success %}
        <div class="text-right">
          <div class="alert alert-success" style="display:inline-block;">
            User created successfully.
          </div>
        </div>
      {% endif %}
    </div>
  </div>

  <div class="row">
    <form action="{% url 'create' %}" method="post">
      {% csrf_token %}

      {% for field in form %}


        <div class="form-group">
          <div class="row">
            <div class="col-sm-4"></div>

            <div class="col-sm-4">
              <label for="{{ field.id }}">
                {% if field.label == 'Name' or field.label == 'E-mail' %}
                  <span>*</span>
                {% endif %}
                {{ field.label }}
              </label>
            </div>

            <div class="col-sm-4"></div>
          </div>

          <div class="row">
            <div class="col-sm-4"></div>
            <div class="col-sm-4">
              <div class="control {% if field.errors %}has-error{% endif %}">
                {{ field|add_class:"form-control" }}
              </div>
            </div>
            <div class="col-sm-4">{{ field.errors.0 }}</div>
          </div>

        </div>
      {% endfor %}


      <div class="row">
        <div class="col-sm-4"></div>
        <div class="col-sm-4">
          <input type="submit" class="btn btn-md btn-submit" value="Create"/>
        </div>
        <div class="col-sm-4"></div>
      </div>

    </form>


    {#    <div class="col-sm-4"></div>#}
    {#    <div class="col-sm-4">#}
    {##}
    {#      <form action="{% url 'create' %}" method="post">#}
    {#        {% csrf_token %}#}
    {#        {{ form|crispy }}#}
    {#        <input type="submit" class="btn btn-md btn-submit" value="Create"/>#}
    {##}
    {#      </form>#}
    {##}
    {#    </div>#}
    {#    <div class="col-sm-4"></div>#}


  </div>
{% endblock %}

{% block scripts %}
  {% if success %}
    <script type="text/javascript">
      window.setTimeout(
          function () {
            window.location.replace("{% url 'users' %}");
          },
          3000
      );
    </script>
  {% endif %}

  <script type="text/javascript">

    String.prototype.splice = function (idx, rem, str) {
      return this.slice(0, idx) + str + this.slice(idx + Math.abs(rem));
    };

    function refactor_phone(val) {
      val = val.replace(/[^0-9\.]/g, '');

      if (val[0] !== '+') {
        val = '+' + val;
      }
      if (val.length >= 3) {
        val = val.splice(3, 0, ' (');
      }
      if (val.length >= 8) {
        val = val.splice(8, 0, ') ');
      }
      if (val.length >= 13) {
        val = val.splice(13, 0, ' ');
      }
      if (val.length >= 16) {
        val = val.splice(16, 0, ' ');
      }
      return val;
    }

    function refactor_phone_backspace(val) {
      if (val.slice(-1) === ' ') {
        val = val.substring(0, val.length - 1)
      }
      if (val.slice(-1) === ')') {
        val = val.substring(0, val.length - 1)
      }
      if (val.slice(-2) === ' (') {
        val = val.substring(0, val.length - 2)
      }
      if (val === '+') {
        val = '';
      }
      return val;
    }

    $('input[id$=phone]').keyup(function (e) {
      var code = e.which;
      if (code !== 8) {
        var val = this.value;
        this.value = refactor_phone(val);
      } else {
        var val = this.value;
        this.value = refactor_phone_backspace(val);
      }
    });


    $(document).ready(function () {
      var phones = $('input[id$=phone]');
      for (var i = 0; i < phones.length; i++) {
        if (phones[i].value !== '') {
          phones[i].value = refactor_phone(phones[i].value);
        }
      }
    });
  </script>
{% endblock %}