{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load user_extras %}


{% block title %}
  <title>Change user</title>
{% endblock %}

{% block content %}
  <div class="row">
    <div class="col-sm-4">
      <a href="{% url 'users' %}" class="btn btn-default" role="button"><i
          class="glyphicon glyphicon-menu-left"></i></a>
    </div>
    <div class="col-sm-4">
      <div class="text-center"><h1>CHANGE USER</h1></div>
    </div>

    <div class="col-sm-4">
      {% if success %}
        <div class="text-right">
          <div class="alert alert-success" style="display:inline-block;">
            Changed saved successfully.
          </div>
        </div>
      {% endif %}
    </div>
  </div>

  <div class="row">
    <form action="{{ request.path }}" method="post" id="id_form">
      {% csrf_token %}
      {% for field in form.visible_fields %}

        <div class="form-group">
          <div class="row">
            <div class="col-sm-4"></div>

            <div class="col-sm-4">
              <label for="{{ field.id }}">
                {% if field.label == 'Name' or field.label == 'E-mail' %}
                  <span>*</span>
                {% endif %}
                {{ field.label }}
              </label>
            </div>

            <div class="col-sm-4"></div>
          </div>

          <div class="row">
            <div class="col-sm-4"></div>
            <div class="col-sm-4">
              <div class="control {% if field.errors %}has-error{% endif %}">
                {{ field|add_class:"form-control" }}
              </div>
            </div>
            <div class="col-sm-4">{{ field.errors.0 }}</div>
          </div>

        </div>
      {% endfor %}

      <div style="display: none">
        {% for field in hidden_form %}
          {{ field }}
        {% endfor %}
      </div>

      <div class="form-group">

        <div class="row">
          <div class="col-sm-4"></div>
          <div class="col-sm-4">
            <label for="id_course_select">Courses</label>
          </div>
        </div>

        <div class="row">

          <div id="id_selector_row">


            <div class="col-sm-4"></div>
            <div class="col-sm-4">
              <div class="row">
                <div class="col-sm-10">
                  <select class="form-control" name="course" id="id_course_select">
                  </select>
                </div>
                <div class="col-sm-2">
                  <button type="button" role="button" class="btn btn-default" id="id_course_button"><i
                      class="glyphicon glyphicon-plus"></i></button>
                </div>
              </div>
            </div>
            <div class="col-sm-4"></div>
          </div>


        </div>

      </div>

      <div class="row">
        <div class="col-sm-4"></div>
        <div class="col-sm-4">
          <table class="table">
            <tbody id="id_course_table">
            </tbody>
          </table>
        </div>
        <div class="col-sm-4"></div>
      </div>


      <div class="row">
        <div class="col-sm-4"></div>
        <div class="col-sm-4">
          <input type="submit" class="btn btn-md btn-submit" id="id_save_button" value="Save"/>
        </div>
        <div class="col-sm-4"></div>
      </div>
    </form>

  </div>
{% endblock %}

{% block scripts %}
  {% if success %}
    <script type="text/javascript">
      window.setTimeout(
          function () {
            window.location.replace("{% url 'users' %}");
          },
          3000
      );
    </script>
  {% endif %}

  <script type="text/javascript">
    String.prototype.splice = function (idx, rem, str) {
      return this.slice(0, idx) + str + this.slice(idx + Math.abs(rem));
    };

    function refactor_phone(val) {
      val = val.replace(/[^0-9\.]/g, '');

      if (val[0] !== '+') {
        val = '+' + val;
      }
      if (val.length >= 3) {
        val = val.splice(3, 0, ' (');
      }
      if (val.length >= 8) {
        val = val.splice(8, 0, ') ');
      }
      if (val.length >= 13) {
        val = val.splice(13, 0, ' ');
      }
      if (val.length >= 16) {
        val = val.splice(16, 0, ' ');
      }
      return val;
    }

    function refactor_phone_backspace(val) {
      if (val.slice(-1) === ' ') {
        val = val.substring(0, val.length - 1)
      }
      if (val.slice(-1) === ')') {
        val = val.substring(0, val.length - 1)
      }
      if (val.slice(-2) === ' (') {
        val = val.substring(0, val.length - 2)
      }
      if (val === '+') {
        val = '';
      }
      return val;
    }

    $('input[id$=phone]').keyup(function (e) {
      var code = e.which;
      if (code !== 8) {
        var val = this.value;
        this.value = refactor_phone(val);
      } else {
        var val = this.value;
        this.value = refactor_phone_backspace(val);
      }
    });

    $(document).ready(function () {
      var phones = $('input[id$=phone]');
      for (var i = 0; i < phones.length; i++) {
        if (phones[i].value !== '') {
          phones[i].value = refactor_phone(phones[i].value);
        }
      }
    });
  </script>



  <script type="text/javascript">
    var allCourses = {{ all_courses|safe }};
    var userCourses = {{ user_courses|safe }};

    var courses = {};
    for (var i = 0; i < allCourses.length; i++) {
      var courseID = allCourses[i][0];
      var courseName = allCourses[i][1];
      var isOnList = false;

      for (var j = 0; j < userCourses.length; j++) {
        if (userCourses[j][0] == courseID) {
          isOnList = true;
          break;
        }
      }

      courses[courseID] = {
        name: courseName,
        isOnList: isOnList
      }
    }

    function constructSelect() {

      $('#id_selector_row').css('display', 'block');

      $('#id_course_select option').remove();
      var count = 0;
      for (var id in courses) {
        if (!courses[id].isOnList) {
          count += 1;
          $('#id_course_select').append('<option value="' + id + '">' + courses[id].name + '</option>');
        }
      }
      if (count == 0) {
        $('#id_selector_row').css('display', 'none');
      }
    }

    function constructTable() {
      $('#id_course_table tr').remove();
      for (var id in courses) {
        if (courses[id].isOnList) {
          $('#id_course_table').append('<tr><td>' + courses[id].name + '</td><td><div class="text-right"><div role="button" id="remove_' + id + '"><i class="glyphicon glyphicon-remove-circle"></i></div></div></td></tr>');
          $('#remove_' + id).click(function (id) {
            thisID = $(this).attr('id').split('remove_')[1];
            courses[thisID].isOnList = false;
            constructSelect();
            constructTable();
            updateHiddenInput();
          });
        }
      }

    }

    function updateHiddenInput() {
      var courseList = '';
      for (var id in courses){
        if (courses[id].isOnList){
          if (courseList !== ''){
            courseList += '&' + String(id);
          } else {
            courseList = String(id);
          }
        }
      }
      $('#id_courses').val(courseList);
    }

    $('#id_course_button').click(function () {
      var id = $('#id_course_select').find(":selected").val();
      console.log(id);
      courses[id].isOnList = true;
      constructTable();
      constructSelect();
      updateHiddenInput();
    });

    constructSelect();
    constructTable();
    updateHiddenInput();

  </script>
{% endblock %}