{% extends 'base.html' %}

{% block title %}
  <title>Users</title>
{% endblock %}

{% block content %}
  <div class="row">

    <div class="col-sm-4">
      <div class="navbar-form navbar-left">
        <a href="{% url 'create' %}" class="btn btn-default" role="button"><i class="glyphicon glyphicon-plus"></i></a>
        <div class="input-group">
          <div class="input-group-btn">
            <button class="btn btn-default"><i class="glyphicon glyphicon-search"></i></button>
          </div>
          <input type="text" class="form-control" placeholder="Search" name="srch-term" id="srch-term">
        </div>
      </div>
    </div>

    <div class="col-sm-4">
      <div class="text-center"><h1>USERS</h1></div>
    </div>

    <div class="col-sm-4">
      <div class="navbar-form navbar-right">
        <select class="form-control">
          <option value="10">10</option>
          <option value="15">15</option>
          <option value="20">20</option>
        </select>
      </div>
    </div>

  </div>

  <table class="table">
    <thead class="thead-inverse">
    <tr>
      <th>NAME</th>
      <th>E-MAIL</th>
      <th>STATUS</th>
      <th>ACTION</th>
    </tr>
    </thead>
    <tbody>
    {% for user in user_list %}
      <tr>
        <td>{{ user.1 }}</td>
        <td>{{ user.2 }}</td>
        <td>
          {% if user.3 %}
          <div>Active</div>
          {% endif %}
          {% if not user.3 %}
          <div>Inactive</div>
          {% endif %}
        </td>
        <td>
          <form action="{% url 'users' %}" method="post">
            {% csrf_token %}
            <span><a href="{% url 'edit' user_id=user.0 %}" class="btn btn-default" role="button"><i class="glyphicon glyphicon-edit"></i></a></span>
            <input type="hidden" name="user_id" value="{{ user.0 }}" />
            <span>
              <button role="button" type="submit" class="btn btn-default"><i class="glyphicon glyphicon-trash"></i></button>
            </span>
          </form>
        </td>
      </tr>

    {% endfor %}
    </tbody>
  </table>
{% endblock %}