{% extends 'base.html' %}

{% block title %}
  <title>Users</title>
{% endblock %}

{% block content %}
  <div class="row">

    <div class="col-sm-4">
      <div class="navbar-form navbar-left">
        <a href="{% url 'create' %}" class="btn btn-default" role="button"><i class="glyphicon glyphicon-plus"></i></a>
        <div class="input-group">
          <div class="input-group-btn">
            <button class="btn btn-default"><i class="glyphicon glyphicon-search"></i></button>
          </div>
          <input type="text" class="form-control" placeholder="Search" name="srch-term" id="srch-term">
        </div>
      </div>
    </div>

    <div class="col-sm-4">
      <div class="text-center"><h1>USERS</h1></div>
    </div>

    <div class="col-sm-4">
      <div class="navbar-form navbar-right">
        <select class="form-control">
          <option value="10">10</option>
          <option value="15">15</option>
          <option value="20">20</option>
        </select>
      </div>
    </div>

  </div>



  <p>{{ user_list }}</p>
{% endblock %}