{% extends 'base.html' %}

{% block title %}
  <title>Users</title>
{% endblock %}

{% block content %}
  <div class="row">

    <div class="col-sm-4">
      <div class="navbar-form navbar-left">
        <a href="{% url 'create' %}" class="btn btn-default" role="button"><i class="glyphicon glyphicon-plus"></i></a>
        <div class="input-group">
          <div class="input-group-btn">
            <button class="btn btn-default" id="search-button"><i class="glyphicon glyphicon-search"></i></button>
          </div>
          <input type="text" class="form-control" placeholder="Search" id="search-input"/>
        </div>
      </div>
    </div>

    <div class="col-sm-4">
      <div class="text-center"><h1>USERS</h1></div>
    </div>

    <div class="col-sm-4">
      <div class="navbar-form navbar-right">
{#        <select name="user-table_length" aria-controls="user-table" class=""><option value="10">10</option><option value="25">25</option><option value="50">50</option><option value="100">100</option></select>#}
        <select class="form-control" aria-controls="user-table">
          <option value="10">10</option>
          <option value="15">15</option>
          <option value="20">20</option>
        </select>
      </div>
    </div>

  </div>

  <table class="table" id="user-table">
    <thead class="thead-inverse">
    <tr>
      <th>NAME</th>
      <th>E-MAIL</th>
      <th>STATUS</th>
      <th>ACTION</th>
    </tr>
    </thead>
    <tbody>
    {% for user in user_list %}
      <tr>
        <td>{{ user.1 }}</td>
        <td>{{ user.2 }}</td>
        <td>
          {% if user.3 %}
          <div>Active</div>
          {% endif %}
          {% if not user.3 %}
          <div>Inactive</div>
          {% endif %}
        </td>
        <td>
          <form action="{% url 'users' %}" method="post">
            {% csrf_token %}
            <span><a href="{% url 'edit' user_id=user.0 %}" class="btn btn-default" role="button"><i class="glyphicon glyphicon-edit"></i></a></span>
            <input type="hidden" name="user_id" value="{{ user.0 }}" />
            <span>
              <button role="button" type="submit" class="btn btn-default"><i class="glyphicon glyphicon-trash"></i></button>
            </span>
          </form>
        </td>
      </tr>

    {% endfor %}
    </tbody>
  </table>
{% endblock %}

{% block scripts %}
  <script type="text/javascript">
    $(document).ready(function(){
      oTable = $('#user-table').DataTable({
        "ordering": false,
        "searching": true,
        "bInfo" : false,
{#                "sDom": '<"row view-filter"<"col-sm-12"<"pull-left"l><"pull-right"f><"clearfix">>>t<"row view-pager"<"col-sm-12"<"text-center"ip>>>'#}


      });

      $("#user-table_filter").remove();

      $('#search-button').on('click', function () {
        var value = $('#search-input').val();
          oTable
              .columns(0)
              .search(value)
              .draw();
      });

      $(document).keypress(function(e) {
          var isFocus = $("#search-input").is(":focus");
          if(e.which == 13 && isFocus) {
            var value = $('#search-input').val();
            oTable
                .columns(0)
                .search(value)
                .draw();
          }
      });

      // Stupid way to centre paginate
      $('#user-table_paginate').parent().prev().remove();
      $('#user-table_paginate').parent().removeAttr('class').addClass('col-sm-12');
      $('#user-table_paginate').css('text-align', 'center');

    });
  </script>
{% endblock %}